
body {
  position: relative;
}

.controls-container {
  display: flex;
  justify-content: flex-end;
}

.controls {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  top: 15px;
  right: 15px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 5px grey;
  z-index: 2;
}

.controls > * {
  padding: 5px;
}

.title {
  font-family: 'Bonbon', cursive;
  font-weight: normal;
  margin: 0;
}

canvas {
  background-color: #D0F4EA;
  position: relative;
}

/* canvas:hover {
  cursor: url('../assets/images/cursor.png') 16 16, auto;
} */

input {
  /* padding: 5px 0; */
}

#production {
  direction: rtl;
}

.links {
  display: flex;
  justify-content: space-around;
  padding: 10px 5px;
}
